<<<<<<< HEAD
body { 
    color: #333;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

#container{
    font-weight: 500;
    width: 70%;
    padding: 0;
    border : 5px solid #DDD;
    border-radius: 5px;
    text-align: left;
    margin: 0 auto;
}

#cabecera{
    background: #33A;
    font-weight: bold;
    color: white;
    margin: 0;
    padding: 3 em;
    box-shadow: 0px 2px 20px  0px rgba(0,0,0,0.5)
}

#cabecera #tagline{
    padding: 0 0 0 1em;
    font-weight: normal;
    font-size: 0.8em;
}

#container h1
{
    font-size: 20px;    
}

#footer{
    background:#777;
    color:#fff;
    text-align:center;
    padding:.5em
}
=======
body{
    
    background:#1e1f24;
    color:#333;text-align:center;
    font-family:Arial;font-size:16px;
    margin:0;padding:0
}

#cabecera{

    background:#37488b;
    box-shadow:0 2px 20px 0 rgba(0,0,0,.5);
    color:#fff;font-weight:700;margin:0;
    padding:.5em}#cabecera #logo{width:20px;
            vertical-align:middle
}
            
#cabecera #tagline{

    padding:0 0 0 1em;
    font-weight:400;
    font-size:.8em
}

#cabecera #logo{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

#container{width:70%;
    padding:0;
    text-align:left;
    border:1px solid #ddd;
    margin:0 auto}
    
    
#container h1{
    font-size:20px
}

#post{
    background:#fff;
    padding:1em
}

>>>>>>> 011f79b493e05f5d52e048443d35052ec23a5e6e
